/*-----------------------------------------------------------------------------------------*/
                              /*index.html*/
/*-----------------------------------------------------------------------------------------*/
.index body {
    background: orange; 
    display: flex;
    margin: auto;
}

.index div{
    background-color: #e3f2fd;
    align-items: center;
    display: block;
    height: 10%;   
    text-decoration: none;
}
.index logo {
    margin-left: 5%;
    margin-right: 5%;
    width: 120px;
    height: 80px;
}
.index label{
    margin-left: 4%;
    margin-right: 8%;
    width: 5%;
    font-family: "Roboto";
    font-size: 30px;
    text-decoration: none;
    color: black;    
}
.input{
    background-color: rgb(204, 202, 202);
    font-family: "Roboto";
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    margin-left: 5%;
    margin-right: 5%;
}
.btn-buscar{
    background-color: darkgrey;
    font-family: "Roboto";
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%; 
}
.index navBar enlace {
    margin-left: 4%;
    margin-right: 8%;
    width: 5%;
    font-family: "Roboto";
    font-size: 30px;
    text-decoration: none;
    color: black;
    :hover {
        font-family: "DancingScript";
        font-style: bold italic;
        color: blue;
    }
}

.btn link{
    background-color: darkgrey;
    font-family: "Roboto";
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%; 
}

.btn-nav {
    font-family: "Roboto";
    text-align: center;
    font-style: bold;
    font-size: 25px;
    margin-left: 5%;
    margin-right: 5%;
}
.contenedor btn-buscar{
    background-color: darkgrey;
    font-family: "Roboto";
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.btn {
    background-color: darkgrey;
    font-family: "Roboto";
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.titulo1 {
    margin-top: 10%;
    font-size: 80px;
    text-align: center;
    font-family: "Pacifico";
    margin-bottom: 10%;
}
.titulo2 {
    margin-left: 3%;
    margin-right: 3%;
    text-align: justify;
    font-size: 40px;
    margin-bottom: 5%;
}

/*----------------------------------------------------------------------*/
                              /*Cursos*/
/*----------------------------------------------------------------------*/

.btn-niveles {
    width: 200px;
    height: 250px;
    border-radius: 20px;
}
.boton-imagen {
    display: inline-block;
    padding: 10px;
    background-color: #FF6347;
    color: #fff;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    width: 200px;
    height: 250px;
}
.boton-imagen img {
    width: 100%;
    height: 80%;
}
.boton-imagen p {
    margin-bottom: 5px;
    font-size: 10px;
    color: black;
    font-family: "Roboto";
    text-align: center;
}
